.btn {
    margin: 10px 15px 0 15px;
    border-style: none;
    font-size: 1em;
    border-radius: 3px;
    padding: 8px;
    cursor: pointer;
  }
  
  .verde {
    background-color: #499f68;
    border-color: #499f68;
    color: white;
  }
  
  .azul {
    background-color: dodgerblue;
    border-color: dodgerblue;
    color: white;
  }

  a{
    text-decoration: none;
    color: white;
  }

  a:hover{
    text-decoration: none;
    color: white;
  }
