.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

p{
  margin: 0;
}


.vermelho {
  background-color: #ff220c
}

.botoes {
  margin-top: 10px;
}

.botoes  {
  margin: 0 15px 0 15px;
}


a{
  color:white;
  text-decoration: none;
}

a:hover{
  color: #499f68;
}
