/*BANNER*/
.banner{
  height: 100vh;
  color: rgb(218,150,64);
  position: relative;
  background-image: url("../images/Hong_Kong.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-shadow: 0 0 30px rgba(0,0,0,0.3);
}

.banner .table{
  position: relative;
  z-index: 2;
}

.banner-box{
  max-width: 700px;
  max-height: 700px;
  background-color: rgba(0,0,0,0.7);
  z-index: 1;
  margin: 0 auto;
  box-shadow: 0 0 20px rgba(0,0,0,0.6);
  border-radius: 15px;
}

.banner-title{
  font-size: 84px;
  margin-bottom: 20px;
}

.banner p{
  margin-bottom: 40px;
  font-size: 38px;
  line-height: 60px;
}

@media (max-width: 600px){
  .banner .table-cell {
    padding-left: 15px;
    padding-right: 15px;
  }

  .banner-title{
    font-size: 60px;
  }

  .banner br{
    display: none;
  }

}
