body{
    background-color: #333133;
}

.content-box{
    position: relative;
    padding:  5px 25px 25px 25px;
    margin-top: 10%;
    background-color: black;
    text-shadow: 0 0 30px rgba(0,0,0,0.3);
    text-align: center;
    color: aliceblue;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.6);
}

.content-image{
    max-width: 900px;
}

.content-box a{
    text-align: center;
    font-size: 30px;
    display: block;
    color: aliceblue;
}

.content-box p{
    text-align: justify;
}

@media(max-width: 840px){
    .content-image{
        width: 400px;
    }
}

@media(max-width: 500px){
    .content-image{
        width: 250px;
    }
}