body{
    background-color: rgb(218,150,64);
}

.diversao-box{
    margin: 10% auto;
    padding: 0 0 1% 0 ;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.6);
    max-width: 700px;
}

p{
    margin-top: 2%;
    font-size: 40px;
}

a{
    color: #121212;
}

.diversao-box a:hover{
    color:#121212 ;
} 

.diversao-box img{ 
    max-width: 700px;
}

@media(max-width: 840px){
    .diversao-box img{
        max-width: 400px;
    }
}

@media(max-width: 500px){
    .diversao-box img{
        max-width: 250px;
    }
}