a, p, h3{
  font-family: 'Gill Sans', 'Gill Sans MT';
}

ul{
  list-style: none;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .container{
    max-width: 980px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;
  }
  
  .table{
    display: table;
    width: 100%;
    height: 100%;
  }
  
  .table-cell{
    display: table-cell;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
  }

  .col {
    padding: 0 15px;
    float: left;
    box-sizing: border-box;
  }
  
  .col-half {
    width: 50%;
  }
  
  @media(max-width: 700px){
    .col-half {
      width: 100%;
    }
}