.nav {
    background-color: #121212;
    padding: 15px;
  }

  .nav-pills .nav-link.active{
    color: #fff;
    background-color: #333133;
    
  }

  .nav a{
    color: #fff;
  }

  .nav-link:hover{
    background-color: rgb(218,150,64);
  }