body{
    background-color: rgb(56,0,0);
}

.sede-box{
    margin: 10% auto;
    padding: 5%;
    text-align: center;
    background-color: #121212;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.6);
}

.sede-box p{
    margin-top: 50px;
    font-size: 40px;
    
}

.sede-box a{
    color: rgb(218,150,64);
}

@media(max-width: 840px){
    img{
        width: 400px;
    }
}

@media(max-width: 500px){
    img{
        width: 250px;
    }
}