.button{
  display: inline-block;
  padding: 20px 30px;
  font-size: 18px;
  line-height: 18px;
  border-radius: 12px;
  text-transform: uppercase;
  border: none;
  transition: background 0.3s ease-in-out 0s;
  cursor: pointer;
}

.button-white{
  color: #0678a9;
  background-color: #fff;
}

.button-blue{
  background-color: #0678a9;
  color: #fff;
}

.button-blue:hover{
  background-color: #ffb700;
}
