/*CONTENT*/
.content{
padding: 60px 7.5%;
width: 50%;
text-align: justify;
box-sizing: border-box;
}

.content-left{
  float: left;
}
.content-right{
  float:right;
}

@media (max-width: 750px){
  .content{
    margin: auto;
    padding: 20px 7.5%;
    width: 90%;
  }
  .content-left, .content-right{
    float: none;
  }

}
