/*CONTATO*/
.contact{
  padding: 30px;
  max-width: 1000px;
  margin: 20px auto;
  box-sizing: border-box;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  background-color: #fafafb;
}

.contato-section{
  min-height: calc(100vh - 235px);
}

.contact-text{
  text-align: justify;
}

.contact-input{
  width: 100%;
  padding: 12px 20px;
  margin-bottom: 20px;
  background-color: #fff;
  color: #0678a9;
  border: 2px solid #0678a9;
  border-radius: 4px;
  box-sizing: border-box;
}

.contact-input:focus, textarea:focus{
  border-color: #ffb700;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #0678a9;
  border-radius: 4px;
  resize: none;
}

.contact-button{
  text-align: right;
}

@media (max-width: 1000px){
  .contact{
    margin: 35px;
  }
}
