/*HEADER*/
.header-top{
  width: 100%;
  padding: 15px 0;
  background: #fff;
  box-shadow: 0 6px 12px rgba(0,0,0,0.3);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.header-title{
  padding-top: 12px;
  margin: 0;
  font-size: 26px;
  line-height: 26px;
  text-transform: uppercase;
  float: left;
}

.header-menu{
  float: right;
}

.header-menu li{
  display: inline-block;
}

.header-menu a{
  display: inline-block;
  padding: 15px;
  color: #0678a9;
}

@media (max-width: 600px){
  .header-title{
    float: none;
    text-align: center;
  }

  .header-menu {
    margin: 15px -15px 0;
    text-align: center;
    float: none;
  }

  .header-menu li{
    width: 20%;
    float: left;
  }

  .header-menu a{
    padding: 10px;
    font-size: 12px;
  }
}