/*HISTORIA*/
.history-pack{
  margin: 60px 10px;
  box-shadow: 0 0 12px rgba(0,0,0,0.2);
  padding: 12px;
  text-align: justify;
}

.history-image-left{
  display: inline-block;
  float: left;
  margin: 20px 15px;
  width: 100px;
}

.history-image-right{
  display: inline-block;
  float: right;
  margin: 20px 15px;
  width: 100px;
}

.history-pack-right{
  text-align: right;
}
