/*SERVICOS*/
.servico{
  padding: 15px;
  margin: 60px 0;
  text-align: justify;
  box-shadow: 0 0 12px rgba(0,0,0,0.2);
}

.servico-title{
  font-size: 22px;
}

.servico-image{
  width: 180px;
  display: inline-block;
  float: left;
  margin-right: 10px;
}
